<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> Micropost proibido de ser salvo:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Conteúdo %>
    <%= form.text_field :content, id: :micropost_content %>
  </div>

  <div class="field">
    <%= form.label :Texto %>
    <%= form.text_field :text, id: :micropost_text %>
  </div>

  <div class="field">
    <%= form.label :Id_de_Usuário%> 
    <%= form.number_field :user_id, id: :micropost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Micropost" %>
  </div>
<% end %>
