<p id="notice"><%= notice %></p>

<h1>Microposts</h1>

<table>
  <thead>
    <tr>
      <th>Conteúdo</th>
      <th>Texto</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.text %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'Exibir', micropost %></td>
        <td><%= link_to 'Editar', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Apagar', micropost, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Micropost', new_micropost_path %>
