<p id="notice"><%= notice %></p>

<p>
  <strong>Conteúdo:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @micropost.text %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Editar', edit_micropost_path(@micropost) %> |
<%= link_to 'Voltar', microposts_path %>
